



%div.container
    %div.card
        %div.card-header
            %h1= @project.name
        %div.cad-body.p-3
            %h4
                = @topic.topic
                %span
                    %sup
                        - if current_user == @topic.user  
                            = link_to edit_project_topic_path(@project, @topic), title: "Edit thread" do
                                %i.bi.bi-pencil.mx-1{"aria-hidden": "true"}
                            = link_to project_topic_path(@project, @topic), data: { confirm: "Are you sure you want to delete this project?", turbo_method: :delete }, class: 'text-danger', title: "Delete conversation" do
                                %i.bi.bi-trash.mx-2
            %div.container
                %h5.title Conversation
                - @messages.each do |message|
                    %div.row.mb-2
                        -if current_user == message.user
                            %div.col-6.offset-6
                                %div.card
                                    %div.card-header
                                        %p.text-success
                                    
                                            = "#{message.user.firstname} #{message.user.lastname}"
                                            %span.mx-3
                                                %i.bi.bi-clock= " " 
                                                %span= message.created_at
                                                %sup.mx-1
                                                    = link_to edit_project_topic_message_path(@project, @topic, message), title: "Edit Message" do
                                                        %i.bi.bi-pencil.mx-1{"aria-hidden": "true"}
                                                    = link_to project_topic_message_path(@project, @topic, message), data: { confirm: "Are you sure you want to delete this message?", turbo_method: :delete }, class: 'text-danger', title: "Delete conversation" do
                                                        %i.bi.bi-trash.mx-2
                                                
                                    %div.card-body
                                        %p.text-secondary 
                                            = message.content
                        - else 
                            %div.col-6
                                %div.card
                                    %div.card-header
                                        %p.text-primary
                                    
                                            = "#{message.user.firstname} #{message.user.lastname}"
                                            %span 
                                                %i.bi.bi-clock.mx-3= " "
                                                %span= message.created_at
                                    %div.card-body
                                        %p.text-secondary 
                                            = message.content

                    
            = simple_form_for [@project, @topic, Message.new], html: { id: 'message-form' } do |f|                   
                %div.field.form-group.py-2
                    = f.text_area :content, class: "form-control", placeholder: "Enter message"
                    = f.button :submit, class: "btn btn-secondary btn-lg mt-3", value: "Send message"


:javascript
  
    document.addEventListener('DOMContentLoaded', () => {
    const messageForm = document.getElementById('message-form');
    if (messageForm) {
    messageForm.scrollIntoView({ behavior: 'smooth' });
    }
    });
