



%div.container
    %div.card
        %div.card-header
            %h1= @project.name
        %div.cad-body.p-3
            %h4
                = @topic.topic
                %span
                    %sup
                        - if current_user == @topic.user  
                            = link_to edit_project_topic_path(@project, @topic), title: "Edit thread" do
                                %i.bi.bi-pencil.mx-1{"aria-hidden": "true"}
                            = link_to project_topic_path(@project, @topic), data: { confirm: "Are you sure you want to delete this project?", turbo_method: :delete }, class: 'text-danger', title: "Delete conversation" do
                                %i.bi.bi-trash.mx-2
            %div.container
                %h5.title Conversation
                - @messages.each do |message|
                    %p
                        %span
                            %i.bi.bi-chat-fill
                            = message.content
                         

                    %p.text-primary
                        = "sent by: #{message.user.firstname}"
                        %span 
                            %i.bi.bi-clock.text-danger 
                                = message.created_at 
            = simple_form_for [@project, @topic, Message.new] do |f|                   
                %div.field.form-group.py-2
                    = f.text_area :content, class: "form-control", placeholder: "Enter message"
                    = f.button :submit, class: "btn btn-secondary btn-lg mt-3", value: "Send message"
