<div class = "container d-flex justify-content-center">
  <div class = "form col-8">
    <div class = "card">
      <div class = "card-header">
        <h4>Edit user profile</h4>
      </div>
      <div class = "card-body">
        <%= form_with(model: [:admin, @user]) do |form| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field form-group py-2">
            <%= form.label :email %>
            <%= form.email_field :email, class: 'form-control' %>
          </div>
          <div class="field form-group py-2">
            <%= form.label :firstname %>
            <%= form.text_field :firstname, class: 'form-control'  %>
          </div>
          <div class="field form-group py-2">
            <%= form.label :lastname %>
            <%= form.text_field :lastname, class: 'form-control' %>
          </div>

          <div class="actions mt-2">
            <%= form.submit "Update Profile", class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>

    </div>

    <div class = "card mt-4">
      <div class = "card-header">
        <h4>User privillages</h4>
      </div>
      <div class = "card-body">
        <%= link_to make_admin_admin_user_path(@user), data: {turbo_method: :put }, class: "btn btn-primary" do %>
              <% if @user.admin? %>
                Unmake Admin
              <% else %>
                Make Admin
              <% end %>
            <% end %>

      </div>

    </div>

    <div class = "card mt-4">
      <div class = "card-header">
        <h4>Edit user password</h4>
      </div>
      <div class = "card-body">
        <%= form_with(model: [:admin, @user], url: update_password_admin_user_path(@user)) do |form| %>
          <div class="field form-group py-2 ">
            <%= form.label :password %>
            <%= form.password_field :password, class: 'form-control' %>
          </div>

          <div class="field form-group py-2">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <div class="actions">
            <%= form.submit "Change Password", class: 'btn btn-secondary' %>
          </div>
        <% end %>
        

      </div>
      <div class ="card-footer">
      <%= link_to 'Show', admin_user_path(@user), class: "btn btn-secondary" %> |
        <%= link_to 'Back', admin_users_path, class: "btn btn-primary" %>
      </div>
      

    </div>

  </div>

</div>






